$dark-blue: #121826;
$black: #000000;
$light-gray: #e2e4e8;
$gray-bgc: #212936;
$white: #ffffff;

$light-bgc: $white;
$dark-bgc: $dark-blue;

$light-txt: $light-gray;
$dark-txt: $dark-blue;

$container-width: 90%;
