@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./libs/normalize";

html,
body {
  min-height: 100%;
  height: 100%;
}

main {
  height: calc(100% - 7rem);
}

.theme {
  &--dark {
    background-color: $dark-bgc;
    color: $light-txt;
    h1,
    p,
    a {
      color: $light-txt;
    }
    input {
      background-color: $gray-bgc;
    }
    .main-logo {
      path {
        fill: $light-txt;
      }
    }
  }
  &--light {
    background-color: $light-bgc;
    color: $dark-txt;
    h1,
    p,
    a {
      color: $dark-txt;
    }
    .main-logo {
      path {
        fill: $dark-txt;
      }
    }
  }
}

.active-link--dark {
  background-color: $gray-bgc;
}
